<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    
    
    <script>
      mixpanel.track("Page show");
      mixpanel.track_links("a", "click link", {
          "referrer": document.referrer
      });
    </script>
    
    <script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
    
    <script type="text/javascript">
      var FHChat = {product_id: "ae42b12bfcb3"};
      FHChat.properties={};FHChat.set=function(key,data){this.properties[key]=data};!function(){var a,b;return b=document.createElement("script"),a=document.getElementsByTagName("script")[0],b.src="https://chat-client-js.firehoseapp.com/chat-min.js",b.async=!0,a.parentNode.insertBefore(b,a)}();
    </script>
    
  </body>

</html>
